@model IEnumerable<Library.Fees>

@{
    ViewData["Title"] = "Index";
}

<h1>Fees</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Sum
            </th>
            <th>
                ID of borrowing
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Feetotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Borrow.Id)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
