@model Library.BookCreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add new book</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Numberofpages" class="control-label">Number of pages</label>
                <input asp-for="Numberofpages" class="form-control" />
                <span asp-validation-for="Numberofpages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label">Genre</label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booklanguage" class="control-label">Language</label>
                <input asp-for="Booklanguage" class="form-control" />
                <span asp-validation-for="Booklanguage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bookname" class="control-label">Name</label>
                <input asp-for="Bookname" class="form-control" />
                <span asp-validation-for="Bookname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plot" class="control-label">Plot</label>
                <input asp-for="Plot" class="form-control" />
                <span asp-validation-for="Plot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorName" class="control-label">Author</label>
                <input asp-for="AuthorName" class="form-control" />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
